<!-- slideshow -->
<div class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding-remove-vertical" >

        <div class="uk-position-relative uk-visible-toggle uk-light uk-padding-remove-vertical" tabindex="0" uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 5000; pause-on-hover: true; ratio: false;  min-height: 400;  ">

            <ul class="uk-slideshow-items uk-padding-remove-vertical" uk-height-viewport="min-height: 400; offset-bottom: 400">
              <li uk-slideshow-item="0">
                <img src="images/about/front1.jpg" alt="" uk-cover />
                    <div class="uk-position-top uk-position-medium uk-text-center uk-dark">
                        <h3 class="uk-margin-remove">Prague</h3>
                        <p class="uk-margin-remove"> River view</p>
                    </div>
                    <div class="uk-position-bottom-right uk-position-medium uk-text-center uk-dark">
                      <!-- <p class="uk-margin-remove uk-text-small">&copy; </p>  -->
                    </div>
                </li>
                <li uk-slideshow-item="1">
                  <img src="images/about/front2.jpg" alt="" uk-cover />
                    <div class="uk-position-top-left uk-position-medium uk-text-center uk-dark">
                        <h3 class="uk-margin-remove">Prague</h3>
                        <p class="uk-margin-remove">Dusk View</p>
                    </div>
                    <div class="uk-position-bottom-right uk-position-medium uk-text-center uk-dark">
                      <!-- <p class="uk-margin-remove uk-text-small">&copy; </p> -->
                    </div>
                </li>
                <li uk-slideshow-item="2">
                    <img src="images/about/front3.jpg" alt="" uk-cover />
                    <div class="uk-position-top-right uk-position-medium uk-text-center uk-dark">
                        <h3 class="uk-margin-remove">Prague</h3>
                        <p class="uk-margin-remove">Prague Castle</p>
                    </div>
                    <div class="uk-position-bottom-right uk-position-medium uk-text-center uk-dark">
                      <!-- <p class="uk-margin-remove uk-text-small">&copy; </p> -->
                    </div>
                </li>
                <li uk-slideshow-item="3">
                    <img src="images/about/front4.jpg" alt="" uk-cover />
                    <div class="uk-position-top-left uk-position-medium uk-text-center uk-dark">
                        <h3 class="uk-margin-remove">Prague</h3>
                        <p class="uk-margin-remove">Orloj Clock</p>
                    </div>
                    <div class="uk-position-bottom-right uk-position-medium uk-text-center uk-dark">
                      <!-- <p class="uk-margin-remove uk-text-small">&copy; </p> -->
                    </div>
                </li>
                <li uk-slideshow-item="4">
                    <img src="images/about/front5.jpg" alt="" uk-cover />
                    <div class="uk-position-top-left uk-position-medium uk-text-center uk-dark">
                        <h3 class="uk-margin-remove">Prague</h3>
                        <p class="uk-margin-remove">Zlata Ulicka</p>
                    </div>
                    <div class="uk-position-bottom-right uk-position-medium uk-text-center uk-dark">
                      <!-- <p class="uk-margin-remove uk-text-small">&copy; </p> -->
                    </div>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin" style="position: relative; top: -60px; padding: 0"></ul>

        </div>

    </div>
</div>
